---
layout: bootcamp
root: .
venue: "Greenwich, England"
address: "11th Floor, Greenwich Digital Enterprise Centre, 6 Mitre Passage, London SE10 0ER"
country: United-Kingdom
humandate: "Oct 24-25, 2013"
humantime: 9:00 am - 4:30 pm
startdate: 2013-10-24
enddate: 2013-10-25
latlng: 51.50066,0.00663
registration: open
instructor: ["Greg Wilson", "James Hetherington"]
contact: admin-uk@software-carpentry.org
eventbrite: 7995483707
---
{% include bootcamps/instructors.html %}
{% include bootcamps/eventbrite.html %}
{% include bootcamps/what.html %}
{% include bootcamps/requirements.html %}
<p>
  <strong>Content:</strong> The syllabus for this boot camp will include:
</p>
<ul>
  <li>using the shell to do more in less time</li>
  <li>using version control to manage and share information</li>
  <li>basic Python programming</li>
  <li>manipulating databases using SQL</li>
  <li>how (and how much) to test programs</li>
</ul>
{% include bootcamps/contact.html %}

<hr/>

<h2>Software</h2>

<p>A full set of installation instructions will be circulated a week before the bootcamp.</p>

<div class="row-fluid">
  <div class="span6">
    {% include setup/overview-bash.html %}
    {% include setup/overview-git.html %}
  </div>
  <div class="span6">
    {% include setup/overview-python.html %}
  </div>
</div>

<hr/>

<h2>Reference Guides</h2>

<ul>
  <li><a href="{{page.root}}/lessons/ref/shell.html">The Unix Shell</a></li>
  <li><a href="{{page.root}}/lessons/ref/python.html">Python</a></li>
  <li><a href="{{page.root}}/lessons/ref/sql.html">SQL</a></li>
</ul>
