---
layout: bootcamp
root: .
venue: University of New Brunswick
address: Fredericton, New Brunswick
country: Canada
humandate: Jan 6-7, 2014
humantime: 9:00 am - 4:30 pm
startdate: 2014-01-06
enddate: 2014-01-07
latlng: 45.947214,-66.640325
registration: restricted
instructor: ["Julia Gustavsen", "Ross Dickson"]
contact: jgustavsen@eos.ubc.ca
---
{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}

<hr/>
<b>Registration:</b> <a href="https://www.eventbrite.ca/e/new-brunswick-software-carpentry-bootcamp-registration-9448285075">Register here at Eventbrite</a>

<h3>STRIKE CONTINGENCY:  There is the possibility of a faculty strike at UNB any time after January 2 <a href="http://www.unb.ca/labour/bargainingupdates.html">(UNB Bargaining updates)</a>.  If a work stoppage should occur, the bootcamp will not take place on Jan 6-7.  If that should happen we will attempt to reschedule for a later date</h3>
<h2>Setup</h2>

<div class="row-fluid">
  <div class="span6">
    {% include setup/overview-bash.html %}
    {% include setup/overview-editor.html %}
    {% include setup/windows-editor.html %}
  <div class="span6">
    {% include setup/overview-git.html %}
    {% include setup/overview-python.html %}
  </div>
</div>

<hr/>

<h2>Topics</h2>

<div class="row-fluid">
  <div class="span6">
    <h3><a href="lessons/swc-shell/tutorial.html">The Unix Shell</a></h3>
    <ul>
      <li>{% include guide-shell/intro/title.md %}</li>
      <li>{% include guide-shell/filedir/title.md %}</li>
      <li>{% include guide-shell/create/title.md %}</li>
      <li>{% include guide-shell/pipefilter/title.md %}</li>
      <li>{% include guide-shell/loop/title.md %}</li>
      <li>{% include guide-shell/scripts/title.md %}</li>
      <li>{% include guide-shell/find/title.md %}</li>
    </ul>
  </div>
</div>

<hr/>

<h2>Reference Guides</h2>

<ul>
  <li><a href="{{page.root}}/lessons/ref/shell.html">The Unix Shell</a></li>
  <li><a href="{{page.root}}/lessons/ref/python.html">Python</a></li>
</ul>
