<div id="setup-add-nano" class="setup setup-windows setup-add-nano">
  <h3>Windows / Add Nano text editor</h3>

  <p>
    <ol>
      <li>
        Download the <a href="bin/swc-nano-installer.py">swc-nano-installer.py</a> script and save it in your user directory <code>C:\Users\YourNameHere</code> folder.
      </li>
      <li>
        Go to the Start menu, select 'Run' and type 'cmd' (without the quotes) to run the 'cmd.exe' Windows Command Prompt. The Windows Command Prompt has the default configuration to launch in your home User folder. Type `dir` to make sure that the downloaded python file is in this directory.
      </li>
      <l>i
        Type <pre>python swc-nano-installer.py</pre> and press enter.
        The script installs a sensible text editor you can use during the bootcamp.
      </li>
        </p>
</div>
